body {
	background: #90C090;
	color: #000000;
}

#page-heading {
	font-size: 20;
}
#navigationBlock ul li {
  list-style: none;
  display: inline;
}

#navigationBlock ul li a {
  /* background: #70a070; */

  border: 1px solid #808080;
  /* border-bottom: none; */
  margin-left: 1px;
  padding: 3px 6px;
  text-decoration: none;
  font-weight: bold;
  font-family: arial;  
}

#navigationBlock ul li a#navCurrent {
  background: #60C060;    
}

#navigationBlock ul li a:hover {
  background: #007000 !important;
  border-color: #00ff00;
  color: #00ff00;   
}

.code {
 /*  background: #ff0000;   */
  font-family: monospace;  
}

.probox { 
    float: right; 
    border: 3px solid green;

}
.proimg {
    width: 120;
}
.procap { 
    display: block;
    text-align: center;
    font-style: italic;
    /* width: 100%; */
}


.dmscrnH {
  width : 90%;
  height: auto;
  vertical-align : top;
}
.dmscrnV {
  width : 90%;
  height: auto;
  /*
  width : auto;
  height: 90%;
  */
  vertical-align : top;
}


.thumbH:hover {
  /*
  position:relative;
  top:-25px;
  left:-35px;
  */
  width: 150%;
  height:auto;
  display:block;
  z-index:999;
}

.thumbV:hover {
  position:relative;
  top:-25px;
  left:-35px;
  height: 90%;
  width:auto;
  display:block;
  z-index:999;
}

#dmColLft {
  display: flex;
  flex-direction: column;
  /*
  width: 50%;
  */
}

#dmImgGrp01 {
  display: flex;
  flex-direction: row;
  /*
  height: 100%;
  width: auto;
  */
}